### import necessary dependencies

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import monotonically_increasing_id
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# initialize the spark session
spark = SparkSession.builder.appName('NugaBankETL').getOrCreate()

In [3]:
spark

### DATA  EXTRACTION

In [4]:
nuga_bank_df = spark.read.csv(r'dataset\nuga_bank_transactions.csv',header=True,inferSchema=True)

In [5]:
nuga_bank_df.show(5)

+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|    Transaction_Date|Amount|Transaction_Type| Customer_Name|    Customer_Address|     Customer_City|Customer_State|    Customer_Country|             Company|           Job_Title|               Email|       Phone_Number|Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|        Last_Updated|         Description|Gender|Marital_Status|
+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|2024-03-23 15:38:...| 34.76|      Withdrawal|    James Neal|54912 Holmes Lodg...| West Keithborough|       Florida|                Togo|Benson, Johnson a...|                NULL|                NULL|  493.720.6609x7545|  3592901394693441|GB98RBPP090285271...|          MAD|       3167.0|       C|    Z|       No|2020-06-20 03:04:...|Yeah food anythin...| Other|      Divorced|
|2024-04-22 19:15:...|163.92|      Withdrawal|   Thomas Long| 1133 Collin Passage|        Joshuabury|   Connecticut|Lao People's Demo...|                NULL|   Food technologist|michellelynch@exa...|      (497)554-3317|              NULL|GB03KFZR339662263...|          VEF|       2122.0|       B|    Z|     NULL|2020-12-27 13:23:...|Teach edge make n...|Female|       Married|
|2024-04-12 19:46:...|386.32|      Withdrawal|Ashley Shelton|5297 Johnson Port...|       North Maria|    New Jersey|              Bhutan|       Jones-Mueller|Database administ...| ljordan@example.org|      (534)769-3072|      675983949974|GB59QYRN446730519...|          COP|       7796.0|       C|    Z|       No|2020-01-24 01:23:...|Again line face c...| Other|          NULL|
|2024-04-17 15:29:...|407.15|         Deposit| James Rosario|56955 Moore Glens...|North Michellefurt|    New Mexico|             Iceland|       Vargas-Harris|Horticultural the...|parkerjames@examp...|+1-447-900-1320x257|     4761202519057|GB74FTDO268299438...|          BWP|       6284.0|       C|    Z|      Yes|2023-09-27 03:01:...|     Bag my a drive.|  NULL|          NULL|
|2024-02-10 01:51:...|161.31|         Deposit|Miguel Leonard|262 Beck Expressw...|              NULL| West Virginia|             Eritrea|Richardson, Gonza...|   Minerals surveyor| zweaver@example.net|               NULL|   213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|    Y|       No|2022-01-22 19:08:...|Husband find ok w...|Female|       Married|
+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
only showing top 5 rows

In [6]:
nuga_bank_df.printSchema()

root
 |-- Transaction_Date: timestamp (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Transaction_Type: string (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Customer_Address: string (nullable = true)
 |-- Customer_City: string (nullable = true)
 |-- Customer_State: string (nullable = true)
 |-- Customer_Country: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Job_Title: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_Number: string (nullable = true)
 |-- Credit_Card_Number: long (nullable = true)
 |-- IBAN: string (nullable = true)
 |-- Currency_Code: string (nullable = true)
 |-- Random_Number: double (nullable = true)
 |-- Category: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Is_Active: string (nullable = true)
 |-- Last_Updated: timestamp (nullable = true)
 |-- Description: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Marital_Status: string (nullable = true)

In [7]:
#Data cleaning and transformation
nuga_bank_df.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

In [8]:
# no of rows
num_rows = nuga_bank_df.count()
num_rows

1000000

In [9]:
# num of columns
num_columns = len(nuga_bank_df.columns)
num_columns

23

In [10]:
# check for null values
for column in nuga_bank_df.columns:
    print(column,'Nulls',nuga_bank_df.filter(nuga_bank_df[column].isNull()).count())

Transaction_Date Nulls 0
Amount Nulls 0
Transaction_Type Nulls 0
Customer_Name Nulls 100425
Customer_Address Nulls 100087
Customer_City Nulls 100034
Customer_State Nulls 100009
Customer_Country Nulls 100672
Company Nulls 100295
Job_Title Nulls 99924
Email Nulls 100043
Phone_Number Nulls 100524
Credit_Card_Number Nulls 100085
IBAN Nulls 100300
Currency_Code Nulls 99342
Random_Number Nulls 99913
Category Nulls 100332
Group Nulls 100209
Is_Active Nulls 100259
Last_Updated Nulls 100321
Description Nulls 100403
Gender Nulls 99767
Marital_Status Nulls 99904

In [12]:
# how to fill up missing value 
nuga_bank_df_clean = nuga_bank_df.fillna({
    'Customer_Name' : 'unknown',
    'Customer_Address' : 'unknown',
    'Customer_City' : 'unknown',
    'Customer_State' : 'unknown',
    'Customer_Country' : 'unknown',
    'Company' : 'unknown',
    'Job_Title' : 'unknown',
    'Email' : 'unknown',
    'Phone_Number' : 'unknown',
    'Credit_Card_Number' : 0,
    'IBAN' : 'unknown',
    'Currency_Code' : 'unknown',
    'Random_Number' : 0.0,
    'Category' : 'unknown',
    'Group' : 'unknown',
    'Is_Active' : 'unknown',
    'Description' : 'unknown',
    'Gender' : 'unknown',
    'Marital_Status' : 'unknown'
})

In [13]:
# check for null values
for column in nuga_bank_df_clean.columns:
    print(column,'Nulls',nuga_bank_df_clean.filter(nuga_bank_df_clean[column].isNull()).count())

Transaction_Date Nulls 0
Amount Nulls 0
Transaction_Type Nulls 0
Customer_Name Nulls 0
Customer_Address Nulls 0
Customer_City Nulls 0
Customer_State Nulls 0
Customer_Country Nulls 0
Company Nulls 0
Job_Title Nulls 0
Email Nulls 0
Phone_Number Nulls 0
Credit_Card_Number Nulls 0
IBAN Nulls 0
Currency_Code Nulls 0
Random_Number Nulls 0
Category Nulls 0
Group Nulls 0
Is_Active Nulls 0
Last_Updated Nulls 100321
Description Nulls 0
Gender Nulls 0
Marital_Status Nulls 0

In [14]:
nuga_bank_df_clean = nuga_bank_df_clean.na.drop(subset=['Last_Updated'])

In [15]:
num_rows = nuga_bank_df_clean.count()
num_rows

899679

In [16]:
# to view the summary statistics of the data
nuga_bank_df_clean.describe().show()

+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+--------------------+-------+--------------+
|summary|            Amount|Transaction_Type|Customer_Name|    Customer_Address|Customer_City|Customer_State|Customer_Country|     Company|         Job_Title|              Email|        Phone_Number|  Credit_Card_Number|                IBAN|Currency_Code|    Random_Number|Category|  Group|Is_Active|         Description| Gender|Marital_Status|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+--------------------+-------+--------------+
|  count|            899679|          899679|       899679|              899679|       899679|        899679|          899679|      899679|            899679|             899679|              899679|              899679|              899679|       899679|           899679|  899679| 899679|   899679|              899679| 899679|        899679|
|   mean|505.10367708927123|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|        NULL|              NULL|               NULL| 6.002851385999521E9|3.409662226750533...|                NULL|         NULL|4952.920380491264|    NULL|   NULL|     NULL|                NULL|   NULL|          NULL|
| stddev| 285.7945343300485|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|        NULL|              NULL|               NULL|2.3068371038619423E9|1.189655005733000...|                NULL|         NULL|2966.543401151591|    NULL|   NULL|     NULL|                NULL|   NULL|          NULL|
|    min|              10.0|         Deposit| Aaron Abbott|000 Aaron Landing...|    Aaronberg|       Alabama|     Afghanistan|Abbott Group|Academic librarian|aabbott@example.com|       (200)201-4254|                   0|GB02AAAU191993009...|          AED|              0.0|       A|      X|       No|A American and to...| Female|      Divorced|
|    max|            1000.0|      Withdrawal|      unknown|             unknown|      unknown|       unknown|         unknown|     unknown|           unknown|zzuniga@example.org|             unknown| 4999984361512569455|             unknown|      unknown|           9999.0| unknown|unknown|  unknown|             unknown|unknown|       unknown|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+-----------------+--------+-------+---------+--------------------+-------+--------------+

In [17]:
nuga_bank_df_clean.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

In [18]:
# trransaction table
transaction =nuga_bank_df_clean.select('Transaction_Date',
'Amount',
 'Transaction_Type')

In [19]:
transaction.show()

+--------------------+------+----------------+
|    Transaction_Date|Amount|Transaction_Type|
+--------------------+------+----------------+
|2024-03-23 15:38:...| 34.76|      Withdrawal|
|2024-04-22 19:15:...|163.92|      Withdrawal|
|2024-04-12 19:46:...|386.32|      Withdrawal|
|2024-04-17 15:29:...|407.15|         Deposit|
|2024-02-10 01:51:...|161.31|         Deposit|
|2024-02-10 22:56:...|764.34|        Transfer|
|2024-04-07 00:07:...|734.59|         Deposit|
|2024-03-08 01:51:...|592.43|         Deposit|
|2024-02-01 12:34:...| 927.1|         Deposit|
|2024-03-22 16:46:...| 66.59|        Transfer|
|2024-04-23 13:30:...| 246.3|      Withdrawal|
|2024-01-13 01:22:...|782.32|      Withdrawal|
|2024-02-25 15:16:...|818.42|      Withdrawal|
|2024-01-01 20:55:...|352.23|      Withdrawal|
|2024-01-19 00:01:...|316.19|      Withdrawal|
|2024-04-09 14:40:...|662.26|      Withdrawal|
|2024-04-15 04:58:...|893.73|         Deposit|
|2024-04-12 14:32:...|746.22|      Withdrawal|
|2024-02-26 14:43:...|214.77|      Withdrawal|
|2024-01-17 14:50:...|726.94|      Withdrawal|
+--------------------+------+----------------+
only showing top 20 rows

In [20]:
## to add the transaction_id column
transaction = transaction.withColumn('transaction_id',monotonically_increasing_id())

In [21]:
transaction.show()

+--------------------+------+----------------+--------------+
|    Transaction_Date|Amount|Transaction_Type|transaction_id|
+--------------------+------+----------------+--------------+
|2024-03-23 15:38:...| 34.76|      Withdrawal|             0|
|2024-04-22 19:15:...|163.92|      Withdrawal|             1|
|2024-04-12 19:46:...|386.32|      Withdrawal|             2|
|2024-04-17 15:29:...|407.15|         Deposit|             3|
|2024-02-10 01:51:...|161.31|         Deposit|             4|
|2024-02-10 22:56:...|764.34|        Transfer|             5|
|2024-04-07 00:07:...|734.59|         Deposit|             6|
|2024-03-08 01:51:...|592.43|         Deposit|             7|
|2024-02-01 12:34:...| 927.1|         Deposit|             8|
|2024-03-22 16:46:...| 66.59|        Transfer|             9|
|2024-04-23 13:30:...| 246.3|      Withdrawal|            10|
|2024-01-13 01:22:...|782.32|      Withdrawal|            11|
|2024-02-25 15:16:...|818.42|      Withdrawal|            12|
|2024-01-01 20:55:...|352.23|      Withdrawal|            13|
|2024-01-19 00:01:...|316.19|      Withdrawal|            14|
|2024-04-09 14:40:...|662.26|      Withdrawal|            15|
|2024-04-15 04:58:...|893.73|         Deposit|            16|
|2024-04-12 14:32:...|746.22|      Withdrawal|            17|
|2024-02-26 14:43:...|214.77|      Withdrawal|            18|
|2024-01-17 14:50:...|726.94|      Withdrawal|            19|
+--------------------+------+----------------+--------------+
only showing top 20 rows

In [22]:
# to rearrange transaction
transaction = transaction.select('transaction_id','Transaction_Date',
 'Amount','Transaction_Type')

In [23]:
transaction.show()

+--------------+--------------------+------+----------------+
|transaction_id|    Transaction_Date|Amount|Transaction_Type|
+--------------+--------------------+------+----------------+
|             0|2024-03-23 15:38:...| 34.76|      Withdrawal|
|             1|2024-04-22 19:15:...|163.92|      Withdrawal|
|             2|2024-04-12 19:46:...|386.32|      Withdrawal|
|             3|2024-04-17 15:29:...|407.15|         Deposit|
|             4|2024-02-10 01:51:...|161.31|         Deposit|
|             5|2024-02-10 22:56:...|764.34|        Transfer|
|             6|2024-04-07 00:07:...|734.59|         Deposit|
|             7|2024-03-08 01:51:...|592.43|         Deposit|
|             8|2024-02-01 12:34:...| 927.1|         Deposit|
|             9|2024-03-22 16:46:...| 66.59|        Transfer|
|            10|2024-04-23 13:30:...| 246.3|      Withdrawal|
|            11|2024-01-13 01:22:...|782.32|      Withdrawal|
|            12|2024-02-25 15:16:...|818.42|      Withdrawal|
|            13|2024-01-01 20:55:...|352.23|      Withdrawal|
|            14|2024-01-19 00:01:...|316.19|      Withdrawal|
|            15|2024-04-09 14:40:...|662.26|      Withdrawal|
|            16|2024-04-15 04:58:...|893.73|         Deposit|
|            17|2024-04-12 14:32:...|746.22|      Withdrawal|
|            18|2024-02-26 14:43:...|214.77|      Withdrawal|
|            19|2024-01-17 14:50:...|726.94|      Withdrawal|
+--------------+--------------------+------+----------------+
only showing top 20 rows

In [24]:
customer =nuga_bank_df_clean.select('Customer_Name','Customer_Address','Customer_City','Customer_State','Customer_Country', 'Email',
 'Phone_Number')

In [25]:
customer.show()

+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+-------------------+
|    Customer_Name|    Customer_Address|       Customer_City|Customer_State|    Customer_Country|               Email|       Phone_Number|
+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+-------------------+
|       James Neal|54912 Holmes Lodg...|   West Keithborough|       Florida|                Togo|             unknown|  493.720.6609x7545|
|      Thomas Long| 1133 Collin Passage|          Joshuabury|   Connecticut|Lao People's Demo...|michellelynch@exa...|      (497)554-3317|
|   Ashley Shelton|5297 Johnson Port...|         North Maria|    New Jersey|              Bhutan| ljordan@example.org|      (534)769-3072|
|    James Rosario|56955 Moore Glens...|  North Michellefurt|    New Mexico|             Iceland|parkerjames@examp...|+1-447-900-1320x257|
|   Miguel Leonard|262 Beck Expressw...|             unknown| West Virginia|             Eritrea| zweaver@example.net|            unknown|
|      Jesse Clark|      194 Derek Burg|        Wallacemouth|    New Mexico|             Estonia|benjaminwalker@ex...|   229-511-2530x870|
|       Mark Estes|4077 James Lane A...|      Williamsonport|      Michigan|Antarctica (the t...|karenrobinson@exa...|      (840)334-1610|
|       Kelly Ruiz|             unknown|          New Lauren|       unknown|             unknown|  iestes@example.org| 495.430.4276x42618|
|        Brad Yang|    579 Nolan Harbor|South Christopher...|  South Dakota|             unknown|maryduran@example...|  (241)738-0972x658|
|   Dalton Jimenez|4330 Christine Vista|        Port Kirsten|       unknown|            Cameroon|             unknown|       670-499-0309|
|   Paige Sheppard|0947 Mendez Under...|          Medinastad|North Carolina|             Iceland|  eric64@example.net|            unknown|
|   Stephen Nguyen|    01696 Brown Cape|          South Mary|       Wyoming|Heard Island and ...|stewartjames@exam...|  680-460-3674x6031|
|    Renee Roberts|7591 Ponce Unions...|          Amandaside| Massachusetts|            Barbados|             unknown|       695-680-5744|
|Jacqueline Thomas|172 Morse Falls A...|         Bennettbury|      Oklahoma|                Fiji|  mark84@example.com| 484.837.6166x81262|
|     Joseph Pratt|71283 Thomas Port...|        Lake Michele|        Nevada|     Kyrgyz Republic|robert02@example.com| 623.219.7997x39012|
|        Tara Gray|    3476 Johnny Loaf|     South Davidland|     Tennessee|               Tonga|ewilliams@example...|            unknown|
|  Dominique Lynch|   181 Gregory Ferry|           Jamesfort|         Maine|               Kenya|suzanne41@example...|       448-821-0207|
|      Sarah Brown|    4645 Smith Drive|        Arellanobury|   Mississippi|             Mayotte|sullivandiane@exa...|(643)844-2202x42284|
|    Michael Brown|94463 Novak Turnp...|        North Robert|       unknown|             Somalia|elliserica@exampl...|   214-650-4477x630|
|     Tamara Clark|   4902 Torres Ports|        Bridgesmouth|     Tennessee|        Turkmenistan|annerice@example.com|  (528)927-0111x373|
+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [28]:
# to add column 
customer = customer.withColumn('customer_id',monotonically_increasing_id())

In [31]:
customer.show()

+-----------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+-------------------+
|customer_id|    Customer_Name|    Customer_Address|       Customer_City|Customer_State|    Customer_Country|               Email|       Phone_Number|
+-----------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+-------------------+
|          0|       James Neal|54912 Holmes Lodg...|   West Keithborough|       Florida|                Togo|             unknown|  493.720.6609x7545|
|          1|      Thomas Long| 1133 Collin Passage|          Joshuabury|   Connecticut|Lao People's Demo...|michellelynch@exa...|      (497)554-3317|
|          2|   Ashley Shelton|5297 Johnson Port...|         North Maria|    New Jersey|              Bhutan| ljordan@example.org|      (534)769-3072|
|          3|    James Rosario|56955 Moore Glens...|  North Michellefurt|    New Mexico|             Iceland|parkerjames@examp...|+1-447-900-1320x257|
|          4|   Miguel Leonard|262 Beck Expressw...|             unknown| West Virginia|             Eritrea| zweaver@example.net|            unknown|
|          5|      Jesse Clark|      194 Derek Burg|        Wallacemouth|    New Mexico|             Estonia|benjaminwalker@ex...|   229-511-2530x870|
|          6|       Mark Estes|4077 James Lane A...|      Williamsonport|      Michigan|Antarctica (the t...|karenrobinson@exa...|      (840)334-1610|
|          7|       Kelly Ruiz|             unknown|          New Lauren|       unknown|             unknown|  iestes@example.org| 495.430.4276x42618|
|          8|        Brad Yang|    579 Nolan Harbor|South Christopher...|  South Dakota|             unknown|maryduran@example...|  (241)738-0972x658|
|          9|   Dalton Jimenez|4330 Christine Vista|        Port Kirsten|       unknown|            Cameroon|             unknown|       670-499-0309|
|         10|   Paige Sheppard|0947 Mendez Under...|          Medinastad|North Carolina|             Iceland|  eric64@example.net|            unknown|
|         11|   Stephen Nguyen|    01696 Brown Cape|          South Mary|       Wyoming|Heard Island and ...|stewartjames@exam...|  680-460-3674x6031|
|         12|    Renee Roberts|7591 Ponce Unions...|          Amandaside| Massachusetts|            Barbados|             unknown|       695-680-5744|
|         13|Jacqueline Thomas|172 Morse Falls A...|         Bennettbury|      Oklahoma|                Fiji|  mark84@example.com| 484.837.6166x81262|
|         14|     Joseph Pratt|71283 Thomas Port...|        Lake Michele|        Nevada|     Kyrgyz Republic|robert02@example.com| 623.219.7997x39012|
|         15|        Tara Gray|    3476 Johnny Loaf|     South Davidland|     Tennessee|               Tonga|ewilliams@example...|            unknown|
|         16|  Dominique Lynch|   181 Gregory Ferry|           Jamesfort|         Maine|               Kenya|suzanne41@example...|       448-821-0207|
|         17|      Sarah Brown|    4645 Smith Drive|        Arellanobury|   Mississippi|             Mayotte|sullivandiane@exa...|(643)844-2202x42284|
|         18|    Michael Brown|94463 Novak Turnp...|        North Robert|       unknown|             Somalia|elliserica@exampl...|   214-650-4477x630|
|         19|     Tamara Clark|   4902 Torres Ports|        Bridgesmouth|     Tennessee|        Turkmenistan|annerice@example.com|  (528)927-0111x373|
+-----------+-----------------+--------------------+--------------------+--------------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [30]:
# to rearrange customer 
customer = customer.select('customer_id','Customer_Name','Customer_Address','Customer_City','Customer_State','Customer_Country', 'Email',
 'Phone_Number')

In [32]:
employee =nuga_bank_df_clean.select('Company','Job_Title', 'Gender','Marital_Status')

In [33]:
employee.show()

+--------------------+--------------------+-------+--------------+
|             Company|           Job_Title| Gender|Marital_Status|
+--------------------+--------------------+-------+--------------+
|Benson, Johnson a...|             unknown|  Other|      Divorced|
|             unknown|   Food technologist| Female|       Married|
|       Jones-Mueller|Database administ...|  Other|       unknown|
|       Vargas-Harris|Horticultural the...|unknown|       unknown|
|Richardson, Gonza...|   Minerals surveyor| Female|       Married|
|           Smith Ltd| Seismic interpreter|  Other|       Married|
|         Wade-Kelley|  Surveyor, minerals|   Male|       unknown|
|             unknown|Medical laborator...| Female|        Single|
|         Lindsey LLC|Programmer, appli...| Female|        Single|
|         Carroll LLC|             unknown|   Male|        Single|
|             unknown|     Sales executive|   Male|      Divorced|
|Lynch, Hayes and ...|       Stage manager|unknown|       Married|
|           Green Ltd|Psychologist, pri...|   Male|       unknown|
|             unknown|Designer, blown g...| Female|        Single|
|     Morris-Reynolds|          Podiatrist|  Other|       Married|
|         Sutton-Owen|   Financial planner|  Other|       Married|
|         Brown Group|Nutritional thera...|  Other|       Married|
|         Scott Group|     Games developer|  Other|       Married|
|Bryant, Huffman a...|Research scientis...|  Other|       Married|
|          Palmer PLC|             unknown|   Male|      Divorced|
+--------------------+--------------------+-------+--------------+
only showing top 20 rows

In [34]:
# to add column
employee = employee.withColumn('employee_id',monotonically_increasing_id())

In [35]:
employee.show()

+--------------------+--------------------+-------+--------------+-----------+
|             Company|           Job_Title| Gender|Marital_Status|employee_id|
+--------------------+--------------------+-------+--------------+-----------+
|Benson, Johnson a...|             unknown|  Other|      Divorced|          0|
|             unknown|   Food technologist| Female|       Married|          1|
|       Jones-Mueller|Database administ...|  Other|       unknown|          2|
|       Vargas-Harris|Horticultural the...|unknown|       unknown|          3|
|Richardson, Gonza...|   Minerals surveyor| Female|       Married|          4|
|           Smith Ltd| Seismic interpreter|  Other|       Married|          5|
|         Wade-Kelley|  Surveyor, minerals|   Male|       unknown|          6|
|             unknown|Medical laborator...| Female|        Single|          7|
|         Lindsey LLC|Programmer, appli...| Female|        Single|          8|
|         Carroll LLC|             unknown|   Male|        Single|          9|
|             unknown|     Sales executive|   Male|      Divorced|         10|
|Lynch, Hayes and ...|       Stage manager|unknown|       Married|         11|
|           Green Ltd|Psychologist, pri...|   Male|       unknown|         12|
|             unknown|Designer, blown g...| Female|        Single|         13|
|     Morris-Reynolds|          Podiatrist|  Other|       Married|         14|
|         Sutton-Owen|   Financial planner|  Other|       Married|         15|
|         Brown Group|Nutritional thera...|  Other|       Married|         16|
|         Scott Group|     Games developer|  Other|       Married|         17|
|Bryant, Huffman a...|Research scientis...|  Other|       Married|         18|
|          Palmer PLC|             unknown|   Male|      Divorced|         19|
+--------------------+--------------------+-------+--------------+-----------+
only showing top 20 rows

In [36]:
# to rearrange employee
employee = employee.select('employee_id','Company','Job_Title', 'Gender','Marital_Status')

In [37]:
employee.show()

+-----------+--------------------+--------------------+-------+--------------+
|employee_id|             Company|           Job_Title| Gender|Marital_Status|
+-----------+--------------------+--------------------+-------+--------------+
|          0|Benson, Johnson a...|             unknown|  Other|      Divorced|
|          1|             unknown|   Food technologist| Female|       Married|
|          2|       Jones-Mueller|Database administ...|  Other|       unknown|
|          3|       Vargas-Harris|Horticultural the...|unknown|       unknown|
|          4|Richardson, Gonza...|   Minerals surveyor| Female|       Married|
|          5|           Smith Ltd| Seismic interpreter|  Other|       Married|
|          6|         Wade-Kelley|  Surveyor, minerals|   Male|       unknown|
|          7|             unknown|Medical laborator...| Female|        Single|
|          8|         Lindsey LLC|Programmer, appli...| Female|        Single|
|          9|         Carroll LLC|             unknown|   Male|        Single|
|         10|             unknown|     Sales executive|   Male|      Divorced|
|         11|Lynch, Hayes and ...|       Stage manager|unknown|       Married|
|         12|           Green Ltd|Psychologist, pri...|   Male|       unknown|
|         13|             unknown|Designer, blown g...| Female|        Single|
|         14|     Morris-Reynolds|          Podiatrist|  Other|       Married|
|         15|         Sutton-Owen|   Financial planner|  Other|       Married|
|         16|         Brown Group|Nutritional thera...|  Other|       Married|
|         17|         Scott Group|     Games developer|  Other|       Married|
|         18|Bryant, Huffman a...|Research scientis...|  Other|       Married|
|         19|          Palmer PLC|             unknown|   Male|      Divorced|
+-----------+--------------------+--------------------+-------+--------------+
only showing top 20 rows

In [41]:
fact_table = nuga_bank_df_clean.join(customer,['Customer_Name','Customer_Address','Customer_City','Customer_State','Customer_Country', 'Email',
 'Phone_Number'],'left')\
    .join(transaction,['Transaction_Date','Amount','Transaction_Type'],'left')\
    .join(employee,['Company','Job_Title', 'Gender','Marital_Status'],'left')\
    .select('transaction_id','customer_id','employee_id','Credit_Card_Number','IBAN', 'Currency_Code','Random_Number',\
            'Category','Group','Is_Active','Last_Updated','Description',)

In [42]:
fact_table.show()

+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+
|transaction_id|customer_id|employee_id| Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|  Group|Is_Active|        Last_Updated|         Description|
+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+
|   17179869198|17179869198|17179869198|    180067592769732|GB92JVMY004197871...|          EGP|       7198.0|       A|      Z|      Yes|2023-10-12 22:25:...|Before story prof...|
|            18|         18|         18|    213112163828334|GB50TJFN039979307...|          SVC|       7382.0|       B|      Z|      Yes|2020-01-19 18:19:...|Great evening so ...|
|   17179869199|17179869199|17179869199|   4239162655922295|GB96MEEY268453596...|          BTN|       5605.0|       D|      Z|       No|2020-03-22 00:53:...|Visit present reg...|
|    8589934592| 8589934592| 8589934592|    213133896337542|GB07IUUE487965913...|          ISK|          0.0|       D|      Y|       No|2023-08-16 10:32:...|Themselves make ago.|
|            12|         12|         12|   6011259703732723|GB34HWCA758164830...|          AFN|       4452.0|       C|unknown|       No|2023-07-09 08:03:...|Program sense arm...|
|   25769803778|25769803778|25769803778|   5388658592185363|GB09MHOG513401686...|          NIS|       4609.0|       C|      Z|       No|2021-11-19 11:47:...|             unknown|
|            20|         20|         20|    213186454811670|GB77SPMZ984195063...|          SOS|       7610.0|       C|      X|       No|2021-04-15 13:30:...|Concern remember ...|
|    8589934601| 8589934601| 8589934601|   6011177559558424|GB76DNER497098023...|          BZD|       6499.0|       D|      X|  unknown|2020-02-09 13:11:...|Risk take recent ...|
|   25769803790|25769803790|25769803790|   6574717409681808|GB58ZWIH992989778...|          LSL|          0.0|       B|      Y|       No|2021-11-04 10:41:...|Any state recogni...|
|   17179869184|17179869184|17179869184|     38737697224239|GB44WJZF814413539...|          JMD|       8569.0|       C|      Z|  unknown|2021-01-25 12:59:...|             unknown|
|             8|          8|          8|    180039947294310|GB48WNWB013807482...|          HRK|       3061.0|       B|      X|       No|2020-08-31 20:40:...|Notice paper son ...|
|    8589934605| 8589934605| 8589934605|    213123497507940|GB61RQDC156293863...|          GBP|          0.0|       B|      Z|      Yes|2023-01-29 06:25:...|    Plant very name.|
|   17179869197|17179869197|17179869197|       639006216746|GB81CQQR004909975...|      unknown|       8199.0|       B|      Y|       No|2024-03-31 18:51:...|Try step sound. B...|
|   17179869204|17179869204|17179869204|      4559268055614|             unknown|          BBD|       5380.0|       D|      Y|       No|2024-04-16 14:15:...|Central improve q...|
|            19|         19|         19|        60430636658|GB86TNQV819996269...|          HTG|       9638.0|       B|      X|      Yes|2022-12-17 17:06:...|Throw fill attent...|
|    8589934610| 8589934610| 8589934610|                  0|GB79VCXM025662145...|          SPL|       7594.0|       D|      X|      Yes|2021-06-26 14:31:...|Fall report stay ...|
|    8589934594| 8589934594| 8589934594|   4446095865473916|GB24AWUC828521792...|          MRO|       6536.0|       D|      Z|       No|2020-04-09 23:10:...|Gun media after n...|
|             3|          3|          3|      4761202519057|GB74FTDO268299438...|          BWP|       6284.0|       C|      Z|      Yes|2023-09-27 03:01:...|     Bag my a drive.|
|             6|          6|          6|4543690154172468535|GB55FCPC779828821...|          CAD|       7304.0|       A|      X|      Yes|2020-10-27 16:48:...|Standard prepare ...|
|   25769803789|25769803789| 8589959356|   6011153251503935|GB28FTRX421798999...|          CHF|       1792.0|       C|      Z|      Yes|2020-07-14 19:25:...|Compare sell bank...|
+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
#outputting the transformed data to parquet file
transaction.write.mode('overwrite').parquet(r'dataset/transaction')
employee.write.mode('overwrite').parquet(r'dataset/employee')
customer.write.mode('overwrite').parquet(r'dataset/customer')
fact_table.write.mode('overwrite').parquet(r'dataset/fact_table')